@model BusinessLogic.Paging.EntityDataPage<BusinessLogic.Dto.UserInfo>


        @foreach (var user in Model.List)
        {
            <tr>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.City
                </td>
                <td>
                    @user.LastActivityDateTime
                </td>
                <td>
                    @user.ClientIpAddress
                </td>
                <td>
                    @user.MessageCount
                </td>
                <td>
                    @user.AverageMessageCount
                </td>
            </tr>
        }
    